/* Réinitialisation des styles pour assurer une cohérence entre les navigateurs */
body {
  margin: 0;
}

/* Styles du bouton de volume */
.volume {
  --line: #fff; /* Couleur de la ligne du haut-parleur */
  --line-width: 6px; /* Épaisseur de la ligne du haut-parleur */
  --duration: .5s; /* Durée de l'animation */

  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent; /* Fond transparent */
  border: none; /* Pas de bordure */
}

.volume input {
  display: none; /* Masquer l'input radio */
}

.volume svg {
  fill: none;
  stroke: var(--line);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--line-width);
  width: 108px;
  height: 96px;
}

.volume input + svg path {
  animation: var(--name) var(--duration) ease forwards;
}

.volume input + svg path:nth-child(2),
.volume input + svg path:nth-child(3) {
  stroke-dashoffset: 1px;
}

.volume input:checked + svg path:nth-child(1) {
  --name: shape;
}

.volume input:checked + svg path:nth-child(2) {
  --name: small;
}

.volume input:checked + svg path:nth-child(3) {
  --name: large;
}

.volume input:not(:checked) + svg path:nth-child(1) {
  --name: shape-r;
}

.volume input:not(:checked) + svg path:nth-child(2) {
  --name: small-r;
}

.volume input:not(:checked) + svg path:nth-child(3) {
  --name: large-r;
}

/* Animation pour le symbole de haut-parleur "shape" */
@keyframes shape {
  0% {
    stroke-dasharray: 60px 0 184px;
    stroke-dashoffset: 0;
  }
  70% {
    stroke-dasharray: 63px 51px 184px;
    stroke-dashoffset: 21px;
  }
  100% {
    stroke-dasharray: 59px 47px 184px;
    stroke-dashoffset: 17px;
  }
}

/* Animation pour le symbole de haut-parleur "small" */
@keyframes small {
  0%, 30% {
    stroke-dasharray: 0 0 30px 64px;
  }
  40% {
    stroke-dashoffset: 16px;
  }
  80%, 100% {
    stroke-dashoffset: 1px;
  }
  70% {
    stroke-dasharray: 0 43px 30px 64px;
  }
  100% {
    stroke-dasharray: 0 39px 30px 64px;
  }
}

/* Animation pour le symbole de haut-parleur "large" */
@keyframes large {
  0%, 30% {
    stroke-dasharray: 0 0 50px 84px;
  }
  40% {
    stroke-dashoffset: 16px;
  }
  80%, 100% {
    stroke-dashoffset: 1px;
  }
  70% {
    stroke-dasharray: 0 82px 32px 84px;
  }
  100% {
    stroke-dasharray: 0 78px 32px 84px;
  }
}

/* Animation pour le symbole de haut-parleur "shape-r" (inverse) */
@keyframes shape-r {
  0% {
    stroke-dasharray: 59px 47px 184px;
    stroke-dashoffset: 17px;
  }
  100% {
    stroke-dasharray: 60px 0 184px;
    stroke-dashoffset: 0;
  }
}

/* Animation pour le symbole de haut-parleur "small-r" (inverse) */
@keyframes small-r {
  0% {
    stroke-dasharray: 0 39px 30px 64px;
    stroke-dashoffset: 1px;
  }
  40%, 100% {
    stroke-dashoffset: 16px;
  }
  70% {
    stroke-dasharray: 0 0 30px 64px;
  }
}

/* Animation pour le symbole de haut-parleur "large-r" (inverse) */
@keyframes large-r {
  0% {
    stroke-dasharray: 0 78px 32px 84px;
    stroke-dashoffset: 1px;
  }
  70%, 100% {
    stroke-dashoffset: 16px;
  }
  70% {
    stroke-dasharray: 0 0 50px 84px;
  }
}
